
@*@{
    ViewBag.Title = "Index";
}*@

<center>
    <h1>Hearts Of Iron 4: WW1 ENDSIEG - COULD GERMANY HAVE WON WW1?</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/gibAW02uUiM"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
    <br />
    <h1>ENDSIEG REVERSED - CAN THE RUSKIES WIN? Hearts Of Iron IV</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/c0x6olTgXX4"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
    <br />
    <h1>Hearts Of Iron 4: 1942 START DATE - CAN GERMANY WIN?</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/WDiSiUQB0pc"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
</center>

