@*@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<center>
    <h1>Armata Romana - Drum Bun Toba Bate</h1>
    <audio controls>
        <source src="Music/Armata_romana_Drum_bun_toba_bate.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <br />
    <h1>Treceti Batalioane Romane Carpatii</h1>
    <audio controls>
        <source src="Music/Treceti_Batalioane_Romane_Carpatii.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <br />
    <h1>Imnul Romaniei</h1>
    <audio controls>
        <source src="Music/Imnul_Romaniei.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
</center>