@{
    ViewBag.Title = "Home Page";
}

<center>
    <h1>Panzer III</h1>
    <img title="Panzer III" src="/Images/Panzer III.jpg" alt="Panzer III" class="center">
    <br />
    <h1>Panzer IV</h1>
    <img title="Panzer IV" src="/Images/Panzer IV.jpg" alt="Panzer IV" class="center">
    <br />
    <h1>Tiger Tank</h1>
    <img title="Tiger Tank" src="/Images/Tiger Tank.jpg" alt="Tiger Tank" class="center">
    <br />
</center>